{% extends 'admin/layout_admin.html.twig' %}
{% import'user/macro_form.html.twig' as form %}

{% block content %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
            <fieldset>
                <legend>Modifier le produit</legend>
                <form action="index.php?section=admin&page=admin_update_products&id={{ products.idProduit }}" method="post">
                    {{ form.update ('nom','Nom du produit',products.nomProduit , 'text') }}
                    {% if errors.nom is defined %}{{ errors.nom }}{% endif %}
                    <div class="form-group">
                    <label for="categorie">Catégorie du produit</label>
                    <select id="categorie" class="form-control">
                        <option value="valeur1">Valeur 1</option>
                        <option value="valeur2" selected>Valeur 2</option>
                        <option value="valeur3">Valeur 3</option>
                    </select>
                    </div>
                    {{ form.updatearea('description', 'Description du produit', products.descriptionProduit) }}
                    {% if errors.description is defined %}{{ errors.description }}{% endif %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-contact">Enregistrer</button>
                    </div>

                </form>
            </fieldset>
        </div>
    </div>

{% endblock %}