{% extends 'admin/layout_admin.html.twig' %}
{% import'user/macro_form.html.twig' as form %}


{% block content %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
            <fieldset>
                <legend>Modifier le produit</legend>
                <form action="index.php?section=admin&page=admin_update_products&id={{ product.idProduit }}" method="post">
                    {{ form.update ('nom','Nom du produit',product.nomProduit , 'text') }}
                    {% if errors.nom is defined %}{{ errors.nom }}{% endif %}
                    <div class="form-group">
                    <label for="categorie">Catégorie du produit</label>
                    <select id="categorie" name="categorie" class="form-control">
                        <option value="friandises" {% if product.catProduit == "friandises" %}selected{% endif %}>Friandises magiques</option>
                        <option value="farces" {% if product.catProduit == "farces" %}selected{% endif %}>Farces et artifices</option>
                        <option value="accessoires" {% if product.catProduit == "accessoires" %}selected{% endif %}>Accessoires</option>
                        <option value="packs" {% if product.catProduit == "packs" %}selected{% endif %}>Packs magiques</option>
                    </select>
                    </div>
                    {{ form.updatearea('description', 'Description du produit', product.descriptionProduit) }}
                    {% if errors.description is defined %}{{ errors.description }}{% endif %}
                    <div class="form-group">
                        <label for="imgUpload">Envoyez votre image</label>
                        <input type="file" id="imgUpload">
                        <p class="help-block">Formats acceptés: jpg, png, gif</p>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-contact">Enregistrer</button>
                        <a href="index.php?section=admin&page=admin_products" class="btn btn-danger ">Annuler</a>
                    </div>

                </form>
            </fieldset>
        </div>
    </div>

{% endblock %}