{% extends 'user/layout_user.html.twig' %}

{% block content %}


    {#Catégorie Friandises magiques    #}
    {#<div class="row">#}
    {#<hr class="col-md-6 ornament ornament--full-spacing">#}
        {#<svg class="icon icon-quotes-left">#}
            {#<use xlink:href="#icon-quotes-left">#}
            {#</use>#}
        {#</svg>#}

        {#<svg class="icon icon-infinite">#}
            {#<use xlink:href="#icon-infinite">#}
            {#</use>#}
        {#</svg>#}
    {#</div>#}


    <div id="Friandises" class="row row-titre-cat">
        <hr class="col-md-4">
        <h2 class="col-md-4 col-xs-12 categorie">Friandises magiques</h2>
        <hr class="col-md-4">
    </div>

    <div class="row row-produits">
        {% for friandise in friandises %}
        <div class="col-md-3 col-sm-6 col-xs-12 text-center espace">
            <img src="uploads/{{friandise.imageUrl }}" alt="{{ friandise.nomProduit }}" class="vignette_produit" >
            <h3 class="produit">{{ friandise.nomProduit }}</h3>
            <p class="description">{{ friandise.descriptionProduit }} </p>
        </div>
        {% endfor %}
    </div>



    {#Catégorie Farces et artifices   #}
    <div id="Artifices" class="row row-titre-cat row-eq-height">
        <hr class="col-md-4">
        <h2 class="col-md-4 col-xs-12 categorie">Farces et Artifices</h2>
        <hr class="col-md-4">
    </div>

    <div class="row row-produits">
        {% for farce in farces %}
            <div class="col-md-3 col-sm-6 col-xs-12 text-center espace">
                <img src="uploads/{{farce.imageUrl }}" alt="{{ farce.nomProduit }}" class="vignette_produit" >
                <h3 class="produit">{{ farce.nomProduit }}</h3>
                <p class="description">{{ farce.descriptionProduit }} </p>
            </div>
        {% endfor %}
    </div>

{#Catégorie Accessoires    #}
    <div id="Accessoires" class="row row-titre-cat row-eq-height">
        <hr class="col-md-4">
        <h2 class="col-md-4 col-xs-12 categorie">Accessoires</h2>
        <hr class="col-md-4">
    </div>

    <div class="row row-produits">
        {% for accessoire in accessoires %}
            <div class="col-md-3 col-sm-6 col-xs-12 text-center espace">
                <img src="uploads/{{accessoire.imageUrl }}" alt="{{ accessoire.nomProduit }}" class="vignette_produit" >
                <h3 class="produit">{{ accessoire.nomProduit }}</h3>
                <p class="description">{{ accessoire.descriptionProduit }} </p>
            </div>
        {% endfor %}
    </div>

{#Catégorie Pack Magiques    #}
    <div id="Pack" class="row row-titre-cat">
        <hr class="col-md-4">
        <h2 class="col-md-4 col-xs-12 categorie">Packs Magigues</h2>
        <hr class="col-md-4">
    </div>

    <div class="row row-produits">
        {% for pack in packs %}
            <div class="col-md-6 col-sm-6 col-xs-12 text-center espace">
                <img src="uploads/{{pack.imageUrl }}" alt="{{ pack.nomProduit }}" class="vignette_produit" >
                <h3 class="produit">{{ pack.nomProduit }}</h3>
                <p> {{ pack.descriptionProduit }} </p>
            </div>
        {% endfor %}
    </div>
    <div class="retour">
        <i class="fa fa-bolt fa-2x thunder" aria-hidden="true"></i>
        <a href="#">Retour en haut de page</a>
    </div>

{% endblock %}